<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div>
        <button
          class="btn btn-primary"
          type="reset"
          (click)="(listar())">Listar Registros</button>
      </div>
      <app-detalhes [clientes]="clientes"></app-detalhes>
      <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="esconder!==false">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="nome"><b>Nome</b></label>
            <input
              type="text"
              id="nome"
              maxlength=100
              class="form-control"
              ngModel
              name="nome"
              nome
              #nome="ngModel"
              required>
          </div>
          <p *ngIf="!nome.valid && nome.touched"><b>Campo Nome inválido, o seu preenchimento é obrigatório!</b></p>
          <p><b>Sexo (Gênero):</b></p>
          <div class="radio" *ngFor="let sexo of generos">
            <label>
              <input
                type="radio"
                name="sexo"
                ngModel
                [value]="sexo"
                >
              {{ sexo }}
            </label>
          </div>
          <div class="form-group">
            <label for="email"><b>E-Mail</b></label>
            <input
              type="email"
              maxlength=50
              id="email"
              class="form-control"
              ngModel
              name="email"
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched"><b>Favor adicionar um e-mail válido!</b></span>
          </div>
          <div class="form-group">
            <label for="dataNascimento"><b>Data de Nascimento</b> (Cadastro permitido apenas para nascidos até 01/01/2011)</label>
            <input
              type="date"
              min="1910-01-01"
              max="2011-01-01"
              id="dataNascimento"
              class="form-control"
              ngModel
              name="dataNascimento"
              dataNascimento
              #dataNascimento="ngModel"
              required>
            <span class="help-block" *ngIf="!dataNascimento.valid && dataNascimento.touched"><b>Favor adicionar uma data de nascimento válida!</b></span>
          </div>
          <div class="form-group">
            <label for="naturalidade"><b>Naturalidade</b></label>
            <input
              type="text"
              maxlength=50
              id="naturalidade"
              class="form-control"
              ngModel
              name="naturalidade">
          </div>
          <div class="form-group">
            <label for="nacionalidade"><b>Nacionalidade</b></label>
            <input
              type="text"
              maxlength=50
              id="nacionalidade"
              class="form-control"
              ngModel
              name="nacionalidade">
          </div>
          <div class="form-group">
            <label for="cpf"><b>CPF</b></label>
            <input
              type="text"
              length=14
              mixlength=14
              maxlength=14
              mask="000.000.000-00"
              id="cpf"
              class="form-control"
              ngModel
              name="cpf"
              cpf
              #cpf="ngModel"
              required>
              <span class="help-block" *ngIf="!cpf.valid && cpf.touched"><b>Campo CPF é inválido, o seu preenchimento é obrigatório!</b></span>
          </div>
        </div>
        <hr>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid">Enviar</button>
        </div>
        <br>
        <div>
          <button
            class="btn btn-primary"
            type="reset"
            (click)="f.resetForm()">Limpar</button>
        </div>
        <br>
<!--         <div>
          <button
            class="btn btn-primary"
            type="submit"
            (click)="().ngOnInit()">Listar2</button>
        </div> -->
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <hr>
      <h3>Your Data</h3>
      <p>Username: {{ cliente.nome }}</p>
      <p>Mail: {{ cliente.email }}</p>
      <div class="col-xs-12" *ngFor="let cliente of clientes" #pai>
        <label>
          <input
            type="text"
            name="cliente"
            ngModel
            [value]="cliente">
            <a href='/api/desafio/listar/{{cliente.id}}' title="Detalhar/Editar"> - {{ cliente.nome }}</a>
            - <a (click)="cadastrar(cliente)" href="#" title="Cadastrar os dados">Cadastrar</a>
            - <a (click)="(confirmarExclusao(cliente.nome, cliente))" href="#" title="Deletar o registro">Excluir</a>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- <app-detalhes [testes]="listaTestes"></app-detalhes> -->

